apiVersion: apps/v1
kind: Deployment
metadata:
  name: schema-registry
spec:
  replicas: 1
  selector:
    matchLabels:
      app: schema-registry
  template:
    metadata:
      labels:
        app: schema-registry
    spec:
      containers:
        - name: schema-registry
          image: confluentinc/cp-schema-registry:7.5.10
          resources:
            requests:
              cpu: "100m"                                                                   
              memory: "512Mi"                                                               
            limits:                                                                         
              cpu: "500m"                                                                   
              memory: "1Gi" 
          ports:
            - containerPort: 8081
          env:
            - name: SCHEMA_REGISTRY_HOST_NAME
              value: "schema-registry-svc"
            - name: SCHEMA_REGISTRY_KAFKASTORE_BOOTSTRAP_SERVERS
              value: "k-broker-0.k-broker-svc:9094,k-broker-1.k-broker-svc:9094"