apiVersion: apps/v1
kind: Deployment
metadata:
  name: superset
spec:
  replicas: 1
  selector:
    matchLabels:
      app: superset
  template:
    metadata:
      labels:
        app: superset
    spec:
      containers:
        - name: superset-db
          image: postgres:13
          env:
            - name: POSTGRES_DB
              valueFrom:
                configMapKeyRef:
                  name: superset-config
                  key: postgres-db
            - name: POSTGRES_USER
              valueFrom:
                configMapKeyRef:
                  name: superset-config
                  key: postgres-user
            - name: POSTGRES_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: superset-config
                  key: postgres-password
          ports:
            - containerPort: 5432
          resources:
            requests:
              memory: "256Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          volumeMounts:
            - name: superset-db-data
              mountPath: /var/lib/postgresql/data

        - name: superset-cache
          image: redis:8.2.3-alpine3.22
          ports:
            - containerPort: 6379
          resources:
            requests:
              memory: "128Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "250m"
          volumeMounts:
            - name: superset-cache-data
              mountPath: /data

        - name: superset
          image: amancevice/superset:5.0.0
          env:
            - name: SERVER_WORKER_AMOUNT
              value: "3"
          volumeMounts:
            - name: superset-config
              mountPath: /etc/superset/superset_config.py
              subPath: superset-config.py
          ports:
            - containerPort: 8088
          resources:
            requests:
              memory: "2Mi"
              cpu: "400m"
            limits:
              memory: "4Gi"
              cpu: "1000m"

      volumes:
        - name: superset-config
          configMap:
            name: superset-config
        - name: superset-db-data
          persistentVolumeClaim:
            claimName: superset-db-pvc
        - name: superset-cache-data
          persistentVolumeClaim:
            claimName: superset-cache-pvc
