apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: superset-db-pvc
spec:
  storageClassName: standard
  resources:
    requests:
      storage: 2Gi
  accessModes:
    - ReadWriteOnce
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: superset-cache-pvc
spec:
  storageClassName: standard
  resources:
    requests:
      storage: 1Gi
  accessModes:
    - ReadWriteOnce
