apiVersion: v1
kind: Service
metadata:
  name: spark-master-service
spec:
  selector:
    app: spark-master
  ports:
    - name: spark-master-ipc
      port: 7077
      targetPort: 7077
    - name: spark-webui
      port: 8080
      targetPort: 8080
      nodePort: 30080
  type: NodePort
---
apiVersion: v1
kind: Service
metadata:
  name: spark-worker-service
spec:
  selector:
    app: spark-worker
  ports:
    - name: webui
      port: 8081
      targetPort: 8081
  type: ClusterIP
