apiVersion: v1
kind: ConfigMap
metadata:
  name: spark-config
data:
  spark-defaults.conf: |
    spark.master                        spark://spark-master-service:7077
    spark.submit.deployMode             client
    spark.driver.memory                 2g
    spark.executor.memory               2g
    spark.jars.packages                 org.apache.spark:spark-sql-kafka-0-10_2.13:3.5.0,org.apache.spark:spark-avro_2.13:4.0.0,io.confluent:kafka-avro-serializer:8.0.0,org.mongodb.spark:mongo-spark-connector_2.13:10.5.0
    spark.jars.repositories             https://packages.confluent.io/maven/
    spark.local.dir                     /tmp
    spark.jars.ivy                      /opt/spark/.ivy2/cache
