name: ingestion-hdfs
networks:
  ingestion-net:
    external: true
    name: ingestion-net

services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: namenode
    hostname: namenode
    networks: [ingestion-net]
    environment:
      - CLUSTER_NAME=taxi-cluster
    env_file:
      - ./hadoop.env
    ports:
      - "9870:9870"
      - "9000:9000"
    volumes:
      - ./hdfs/hdfs-namenode:/hadoop/dfs/name
    restart: unless-stopped

  datanode:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: datanode
    hostname: datanode
    networks: [ingestion-net]
    environment:
      - CLUSTER_NAME=taxi-cluster
      - SERVICE_PRECONDITION=namenode:9870
    env_file:
      - ./hadoop.env
    depends_on:
      - namenode
    ports:
      - "9864:9864"
    volumes:
      - ./hdfs/hdfs-datanode:/hadoop/dfs/data
    restart: unless-stopped
